input[type="text"]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

html {
background-color: darkcyan;
font-family: system-ui;
text-align: center;
}

h1, h2 {
text-decoration-color: aqua;
text-decoration: underline;
}

input[type="button"] {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 300px;
opacity: 0.9;
}
    
input[type="button"]:hover {
opacity: 1;
}

div.student_name_list_container {
border: 3px solid black;
border-radius: 20px;
padding: 8px;
background-color: darkorange;
margin-bottom: 10px;
}
